<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Stats Table Bundle Test Suite">
            <directory suffix="Test.php">./src/IgraalOSB/StatsTableBundle/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
            <exclude>
              <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
